@model IEnumerable<proyecto.Models.Factura>

@{
    ViewData["Title"] = "IndexCancelados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Facturas Canceladas</h1>
<p>
    <a asp-action="Index">Facturas</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_Art)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itbis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad_Art)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Itbis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreServicios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistro)
                </td>
            </tr>
        }
    </tbody>
</table>
