@model IEnumerable<proyecto.Models.Productos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div id="pdfContainer">
    <table class="table" style="border: 1px solid; padding:20px">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre_Produc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
            </tr>
        </thead>
        <tbody style="color:red">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre_Produc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-primary" type="submit" id="btnPdf" name="Productos">Descargar Productos</button>
</div>

<script type="text/javascript">
    $("#btnPdf").click(function () {
        var sHtml = $("#pdfContainer").html();
        sHtml = sHtml.replace(/</g, "StrTag").replace(/>/g, "EndTag");
        window.open('../Reportes/Exportar?html=' + sHtml, '_blank');

    });
</script>